.modal {
    @apply fixed w-auto min-h-full top-0 left-0 right-0 bottom-0 flex flex-col
    gap-y-4 bg-black/90 z-10 overflow-auto print:shadow-none;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modalContent {
    @apply flex flex-col gap-2 p-4 max-w-full m-auto bg-black/50 text-base
    rounded-sm shadow-md shadow-black print:shadow-transparent;
}

.orders {
    @apply flex flex-col mb-auto w-[20rem];
}

@media print {
    .modalContent {
        @apply my-0 py-2 border border-black shadow-none;
    }
    
    .orders {
        @apply w-full text-black text-[0.8em];
    }
}

.orders > h3 {
    @apply text-lg font-bold print:text-base;
}

.orders ul li {
    @apply flex flex-wrap leading-[1.4] text-justify;
}

.orderInfo, .price {
    @apply flex leading-[1.4];
}

.dots {
    @apply flex flex-1 border-dotted;
}

.dots::before, .price::before {
    content: "";
    @apply h-0 border-b w-full border-dotted border-white
    translate-y-4 print:translate-y-3 print:border-black
}

.price {
    @apply flex-1;
}

.modalContent button {
    @apply flex justify-center p-2 bg-sky-800 text-base font-bold
    hover:bg-emerald-600 rounded-3xl border border-black/20 shadow-md shadow-black
    duration-300 print:hidden;
    text-shadow: 1px 1px 2px #0008;
}
