.main {
    @apply w-[144mm] min-h-screen p-0 bg-white ;
}

.main div {
    @apply m-0 pb-4;
}

.ordersKitchen, .ordersBar {
    @apply flex flex-col m-0 w-full;
}

.modal,
.modalContent {
    @apply w-[144mm] m-0 p-0 shadow-none;
}

.ordersKitchen, .ordersBar {
    @apply w-full m-0 p-0 pr-8 text-black text-[2.5rem] font-medium leading-normal;
}

.ordersBar {
    @apply my-10;
}

.main .ordersKitchen h3, .main .ordersBar h3 {
    @apply text-[3rem] font-bold leading-none;
}

.ordersKitchen .date, .ordersBar .date {
    @apply flex gap-1 justify-end text-[2rem];
}

.ordersKitchen h3, .ordersBar h3 {
    @apply text-lg font-bold;
}

.ordersKitchen ul li, .ordersBar ul li {
    @apply flex flex-wrap leading-[1.4] text-justify;
}

.orderInfo, .price {
    @apply flex leading-[1.4];
}

.dots {
    @apply flex flex-1 border-dotted;
}

.dots::before, .price::before {
    content: "";
    @apply h-0 border-b w-full border-dotted border-white translate-y-4;
}

.price {
    @apply flex-1;
}

.buttonOptions {
	@apply flex flex-col p-2 gap-2;
}

.buttonOptions button {
	@apply p-2 bg-sky-800 text-base font-bold hover:bg-emerald-600
	rounded-3xl border border-black/20 shadow-md shadow-black
	duration-300;
	text-shadow: 1px 1px 2px #0008;
}

.buttonOptions .buttonLoading::after {
    content: "";
    @apply absolute right-4 w-6 aspect-square border-white border-4 border-l-transparent rounded-full animate-spin;
}
