.main, .home, .error {
	@apply flex flex-col max-w-[95vw] gap-y-4 m-auto p-10 bg-black/50 text-center font-medium
	rounded shadow-md shadow-black sm:p-8;
	text-shadow: 1px 1px 2px #0008;
}

.home {
	@apply gap-y-2;
}

.field {
	@apply flex flex-col text-base text-left;
}

.field input {
	@apply py-1 px-2 bg-white/20 text-white rounded border shadow shadow-black;
	text-shadow: 1px 1px 2px #0008;
}

.button, .errorButton, .loading {
	@apply relative w-[20rem] max-w-full mt-4 py-2 bg-gray-950 text-white rounded
    hover:bg-emerald-700 transition font-bold duration-500 shadow-md shadow-black;
}

.errorTitle {
	@apply text-8xl font-black;
}

.errorButton {
	@apply m-auto;
}

.loading::after {
    content: "";
    @apply absolute right-4 w-6 aspect-square border-white border-4 border-l-transparent
    rounded-full animate-spin;
}
